<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("comum/cabecalho") %>

	<%- defineContent("espaco-head") %>
</head>
<body>

	<div class="principal limitador">
		<%- include("comum/nav") %>

		<div class="corpo-principal">
			<%- body %>
		</div>

		<%- include("comum/rodape") %>
	</div>

</body>
</html>
