<div class="container-fluid">
	<h1 class="my-4">
		Histórico de Jogo por Data
	</h1>

	<div class="row">
		<div class="col-sm-6 my-4 my-sm-0">
			<div class="card shadow h-100">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="idjogo">
									Jogo
								</label>
								<select class="form-control" id="idjogo">
									<% for (let i = 0; i < jogos.length; i++) { %>
									<option value="<%= jogos[i].id %>"><%= jogos[i].nome %></option>
									<% } %>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="dataInicial">
									Data Inicial
								</label>
								<input class="form-control" type="date" id="dataInicial" value="<%= dataInicial %>" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="dataFinal">
									Data Final
								</label>
								<input class="form-control" type="date" id="dataFinal" value="<%= dataFinal %>" />
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-primary" onclick="buscar()">Buscar</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card shadow h-100">
				<div class="card-body">
					<h2 id="h2Jogo" class="text-center mb-4"></h2>
					<div class="text-center">
						<img id="imgJogo" style="max-width: 100%;" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card shadow my-4">
		<div class="card-body" id="div-grafico"></div>
	</div>
</div>

<script type="text/javascript" src="/public/chart.js/chart.min.js"></script>

<script type="text/javascript">

	let jogosPorId = (function () {
		let obj = {}, jogos = <%- JSON.stringify(jogos) %>;
		for (let i = 0; i < jogos.length; i++) {
			obj[jogos[i].id] = jogos[i];
		}
		return obj;
	})();

	async function buscar() {
		let div = document.getElementById("div-grafico");
		div.innerHTML = '<canvas id="grafico-linha" style="height: 50vh;"></canvas>';

		let h2Jogo = document.getElementById("h2Jogo");
		let imgJogo = document.getElementById("imgJogo");

		let jogo = jogosPorId[document.getElementById("idjogo").value];
		h2Jogo.textContent = jogo.nome;
		imgJogo.src = jogo.imagem;

		let labels = [], data = [], maximo = 0;

		try {
			let response = await fetch(`/api/jogo/listarPosicaoPorData?idjogo=${encodeURIComponent(document.getElementById("idjogo").value)}&dataInicial=${encodeURIComponent(document.getElementById("dataInicial").value)}&dataFinal=${encodeURIComponent(document.getElementById("dataFinal").value)}`);
			if (!response.ok) {
				alert("Erro ao buscar os dados!");
				return;
			}

			let dados = await response.json();
			if (!dados || !dados.length) {
				alert("Sem dados nas datas especificadas!");
				return;
			}

			for (let i = 0; i < dados.length; i++) {
				labels.push(dados[i].data);
				if (maximo < dados[i].posicao)
					maximo = dados[i].posicao;
			}

			maximo++;

			for (let i = 0; i < dados.length; i++) {
				data.push(maximo - dados[i].posicao);
			}

		} catch (ex) {
			alert("Erro ao atualizar: " + ex.message);
			return;
		}

		let grafico = new Chart(document.getElementById("grafico-linha"), {
			type: 'line',
			data: {
				labels: labels,
				datasets: [{
					label: "Posição",
					backgroundColor: "#4e73df",
					hoverBackgroundColor: "#2e59d9",
					borderColor: "#4e73df",
					data: data,
				}],
			},
			options: {
				maintainAspectRatio: false,
				layout: {
					padding: {
						left: 10,
						right: 25,
						top: 25,
						bottom: 0
					}
				},
				plugins: {
					tooltip: {
						callbacks: {
							label: function (context) {
								let label = context.dataset.label || '';

								if (label) {
									label += ': ';
								}
								if (context.parsed.y !== null) {
									label += (maximo - context.parsed.y);
								}
								return label;
							}
						}
					}
				},
				scales: {
					x: {
						gridLines: {
							display: false,
							drawBorder: false
						},
						ticks: {
							maxTicksLimit: 60
						},
						maxBarThickness: 25,
					},
					y: {
						//display: false,
						ticks: {
							min: 0,
							max: maximo - 1,
							maxTicksLimit: 10,
							padding: 10,
							callback: function(value, index, ticks) {
								return (maximo - value).toString();
							}
						},
						gridLines: {
							color: "rgb(234, 236, 244)",
							zeroLineColor: "rgb(234, 236, 244)",
							drawBorder: false,
							borderDash: [2],
							zeroLineBorderDash: [2]
						}
					},
				},
				legend: {
					display: false
				},
				tooltips: {
					titleMarginBottom: 10,
					titleFontColor: '#6e707e',
					titleFontSize: 14,
					backgroundColor: "rgb(255,255,255)",
					bodyFontColor: "#858796",
					borderColor: '#dddfeb',
					borderWidth: 1,
					xPadding: 15,
					yPadding: 15,
					displayColors: false,
					caretPadding: 10
				},
			}
		});
	}

	buscar();

</script>
